@font-face
{
	font-family: OpenSansLight;
	src: url("../fonts/OpenSans-Light-webfont.eot");
	src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: OpenSansLightItalic;
	src: url("../fonts/OpenSans-LightItalic-webfont.eot");
	src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: OpenSansRegular;
	src: url("../fonts/OpenSans-Regular-webfont.eot");
	src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}
@font-face
{
	font-family: OpenSansItalic;
	src: url("../fonts/OpenSans-Italic-webfont.eot");
	src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}
@font-face
{
	font-family: OpenSansSemibold;
	src: url("../fonts/OpenSans-Semibold-webfont.eot");
	src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}
@font-face
{
	font-family: OpenSansSemiboldItalic;
	src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
	src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}
@font-face
{
	font-family: OpenSansBold;
	src: url("../fonts/OpenSans-Bold-webfont.eot");
	src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}
@font-face
{
	font-family: OpenSansBoldItalic;
	src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
	src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}
/*normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css
=============================================================================
HTML5 display definitions
==========================================================================

* Corrects block display not defined in IE6/7/8/9 & FF3
 */
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, NAV, SECTION, SUMMARY
{
	display: block;
}
/*
* Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
AUDIO, CANVAS, VIDEO
{
	display: inline-block;
	=display: inline;
	=zoom: 1;
}
/*
* Prevents modern browsers from displaying 'audio' without controls
 */
AUDIO:not([controls])
{
	display: none;
}
/*
* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
* Known issue: no IE6 support
 */
[hidden]
{
	display: none;
}
/*=============================================================================
Base
==========================================================================

* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
*    http://clagnut.com/blog/348/#c790
* 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
*    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
HTML
{
	font-size: 100%;
	/*1*/
	-webkit-text-size-adjust: 100%;
	/*2*/
	-ms-text-size-adjust: 100%;
	/*2*/
}
/*
* Addresses font-family inconsistency between 'textarea' and other form elements.
 */
HTML, BUTTON, INPUT, SELECT, TEXTAREA
{
	font-family: sans-serif;
}
/*
* Addresses margins handled incorrectly in IE6/7
 */
BODY
{
	margin: 0;
	height: 100%;
}
/*=============================================================================
Links
==========================================================================

* Addresses outline displayed oddly in Chrome
 */
A:focus
{
	outline: thin dotted;
}
/*
* Improves readability when focused and also mouse hovered in all browsers
* people.opera.com/patrickl/experiments/keyboard/test
 */
A:hover, A:active
{
	outline: 0;
}
.header .summary A
{
	font-size: 8pt;
}
/*=============================================================================*/
#nav-path UL
{
	list-style: none;
	overflow: hidden;
}
#nav-path LI
{
	float: left;
}
#nav-path LI A
{
	padding: 10px;
	background-color: #525252;
	position: relative;
	display: block;
	float: left;
}
#nav-path
{
	margin-top: 20px;
}
/*Typography
==========================================================================

* Addresses font sizes and margins set differently in IE6/7
* Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
H1
{
	font-size: 2em;
	margin: 0.67em 0;
}
H2
{
	font-size: 1.5em;
	margin: 0.83em 0;
}
H3
{
	font-size: 1.17em;
	margin: 1em 0;
}
H4
{
	font-size: 1em;
	margin: 1.33em 0;
}
H5
{
	font-size: 0.83em;
	margin: 1.67em 0;
}
H6
{
	font-size: 0.75em;
	margin: 2.33em 0;
}
/*
* Addresses styling not present in IE7/8/9, S5, Chrome
 */
ABBR[title]
{
	border-bottom: 1px dotted;
}
/*
* Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
B, STRONG
{
	font-weight: bold;
}
BLOCKQUOTE
{
	margin: 1em 40px;
}
/*
* Addresses styling not present in S5, Chrome
 */
DFN
{
	font-style: italic;
}
/*
* Addresses styling not present in IE6/7/8/9
 */
MARK
{
	background: #FF0;
	color: #000;
}
/*
* Addresses margins set differently in IE6/7
 */
P, PRE
{
	margin: 1em 0;
}
/*
* Corrects font family set oddly in IE6, S4/5, Chrome
* en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
PRE, CODE, KBD, SAMP
{
	font-family: monospace, serif;
	-font-family: "courier new", monospace;
	font-size: 1em;
}
/*
* 1. Addresses CSS quotes not supported in IE6/7
* 2. Addresses quote property not supported in S4

1*/
Q
{
	quotes: none;
}
/*2*/
Q:before, Q:after
{
	content: '';
	content: none;
}
SMALL
{
	font-size: 75%;
}
/*
* Prevents sub and sup affecting line-height in all browsers
* gist.github.com/413930
 */
SUB, SUP
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
SUP
{
	top: -0.5em;
}
SUB
{
	bottom: -0.25em;
}
/*=============================================================================
Lists
==========================================================================

* Addresses margins set differently in IE6/7
 */
DL, MENU, OL, UL
{
	margin: 1em 0;
}
DD
{
	margin: 0 0 0 40px;
}
/*
* Addresses paddings set differently in IE6/7
 */
MENU, OL, UL
{
	padding: 0 0 0 40px;
}
/*
* Corrects list images handled incorrectly in IE7
 */
NAV UL, NAV OL
{
	list-style: none;
	list-style-image: none;
}
/*=============================================================================
Embedded content
==========================================================================

* 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
* 2. Improves image quality when scaled in IE7
*    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
IMG
{
	border: 0;
	/*1*/
	-ms-interpolation-mode: bicubic;
	/*2*/
}
/*
* Corrects overflow displayed oddly in IE9

svg:not(:root)*/
#INVALID-RULE
{
	overflow: hidden;
}
/*=============================================================================
Figures
==========================================================================

* Addresses margin not present in IE6/7/8/9, S5, O11
 */
FIGURE
{
	margin: 0;
}
/*=============================================================================
Forms
==========================================================================

* Corrects margin displayed oddly in IE6/7
 */
FORM
{
	margin: 0;
}
/*
* Define consistent border, margin, and padding
 */
FIELDSET
{
	border: 1px solid #C0C0C0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
/*
* 1. Corrects color not being inherited in IE6/7/8/9
* 2. Corrects text not wrapping in FF3
* 3. Corrects alignment displayed oddly in IE6/7
 */
LEGEND
{
	border: 0;
	/*1*/
	padding: 0;
	white-space: normal;
	/*2*/
	=margin-left: -7px;
	/*3*/
}
/*
* 1. Corrects font size not being inherited in all browsers
* 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
* 3. Improves appearance and consistency in all browsers
 */
BUTTON, INPUT, SELECT, TEXTAREA
{
	font-size: 100%;
	/*1*/
	margin: 0;
	/*2*/
	vertical-align: baseline;
	/*3*/
	=vertical-align: middle;
	/*3*/
}
/*
* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
BUTTON, INPUT
{
	line-height: normal;
	/*1*/
}
/*
* 1. Improves usability and consistency of cursor style between image-type 'input' and others
* 2. Corrects inability to style clickable 'input' types in iOS
* 3. Removes inner spacing in IE7 without affecting normal text inputs
*    Known issue: inner spacing remains in IE6
 */
BUTTON, INPUT[type="button"], INPUT[type="reset"], INPUT[type="submit"]
{
	cursor: pointer;
	/*1*/
	-webkit-appearance: button;
	/*2*/
	=overflow: visible;
	/*3*/
}
/*
* Re-set default cursor for disabled elements
 */
BUTTON[disabled], INPUT[disabled]
{
	cursor: default;
}
/*
* 1. Addresses box sizing set to content-box in IE8/9
* 2. Removes excess padding in IE8/9
* 3. Removes excess padding in IE7
Known issue: excess padding remains in IE6
 */
INPUT[type="checkbox"], INPUT[type="radio"]
{
	box-sizing: border-box;
	/*1*/
	padding: 0;
	/*2*/
	=height: 13px;
	/*3*/
	=width: 13px;
	/*3*/
}
/*
* 1. Addresses appearance set to searchfield in S5, Chrome
* 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
INPUT[type="search"]
{
	-webkit-appearance: textfield;
	/*1*/
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	/*2*/
	box-sizing: content-box;
}
/*
* Removes inner padding and search cancel button in S5, Chrome on OS X
 */
INPUT[type="search"]::-webkit-search-decoration, INPUT[type="search"]::-webkit-search-cancel-button
{
	-webkit-appearance: none;
}
/*
* Removes inner padding and border in FF3+
* www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
BUTTON::-moz-focus-inner, INPUT::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
/*
* 1. Removes default vertical scrollbar in IE6/7/8/9
* 2. Improves readability and alignment in all browsers
 */
TEXTAREA
{
	overflow: auto;
	/*1*/
	vertical-align: top;
	/*2*/
}
/*=============================================================================
Tables
==========================================================================

* Remove most spacing between table cells
 */
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
BODY
{
	padding: 0px 0 20px 0px;
	margin: 0px;
	font: 14px / 1.5 OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #F0E7D5;
	font-weight: normal;
	background: #252525;
	background-attachment: fixed !important;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a29), color-stop(100%, #1c1c1c));
	background: -webkit-linear-gradient(#2a2a29, #1c1c1c);
	background: -moz-linear-gradient(#2a2a29, #1c1c1c);
	background: -o-linear-gradient(#2a2a29, #1c1c1c);
	background: -ms-linear-gradient(#2a2a29, #1c1c1c);
	background: linear-gradient(#2a2a29, #1c1c1c);
}
H1, H2, H3, H4, H5, H6
{
	color: #E8E8E8;
	margin: 0 0 10px;
	font-family: OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}
P, UL, OL, TABLE, PRE, DL
{
	margin: 0 0 20px;
}
H1, H2, H3
{
	line-height: 1.1;
}
H1
{
	font-size: 28px;
}
H2
{
	font-size: 24px;
}
H4, H5, H6
{
	color: #E8E8E8;
}
H3
{
	font-size: 18px;
	line-height: 24px;
	font-family: OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	color: #B6B6B6;
}
A
{
	color: #FFCC00;
	font-weight: 400;
	text-decoration: none;
}
A:hover
{
	color: #FFEB9B;
}
A SMALL
{
	font-size: 11px;
	color: #666;
	margin-top: -0.6em;
	display: block;
}
UL
{
	list-style-image: url("../images/bullet.png");
}
STRONG
{
	font-family: OpenSansBold, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
}
.wrapper
{
	max-width: 650px;
	position: relative;
	/*padding: 0 20px;
min-height: 100%;*/
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}
.summary
{
	padding: 10px;
}
.title
{
	color: #FFCC00;
}
.header .title
{
	margin: 12px;
	/*[empty]font-family:;*/
	font-size: 15.4pt;
}
.footer, .push
{
	height: 2em;
	text-align: center;
}
SECTION IMG
{
	max-width: 100%;
}
.center IMG
{
	background-color: #F5F6F7;
	padding: 25px;
	border: 2px solid #1A1A1A;
}
.dyncontent
{
	margin: 15px;
}
BLOCKQUOTE
{
	border-left: 3px solid #FFCC00;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}
CODE
{
	font-family: "Lucida Sans", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
	color: #EFEFEF;
	font-size: 13px;
	margin: 0 4px;
	padding: 4px 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
PRE
{
	padding: 8px 15px;
	background: #191919;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #121212;
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	overflow: auto;
	overflow-y: hidden;
}
PRE CODE
{
	color: #EFEFEF;
	text-shadow: 0px 1px #000;
	margin: 0;
	padding: 0;
}
TABLE
{
	width: 100%;
	border-collapse: collapse;
}
TH
{
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #434343;
	color: #B6B6B6;
	font-family: OpenSansSemibold, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
}
TD
{
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #434343;
}
HR
{
	border: 0;
	outline: none;
	height: 3px;
	background: transparent url("../images/hr.gif") repeat-x center center;
	margin: 0 0 20px;
}
DT
{
	color: #F0E7D5;
	font-family: OpenSansSemibold, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
}
#header
{
	z-index: 100;
	left: 0;
	top: 0px;
	height: 60px;
	width: 100%;
	position: fixed;
	background: #353535 url(../images/nav-bg.gif);
	border-bottom: 4px solid #434343;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
#header NAV
{
	max-width: 650px;
	margin: 0 auto;
	padding: 0 10px;
	background: #0000FF;
	margin: 6px auto;
}
#header NAV LI
{
	font-family: OpenSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	list-style: none;
	display: inline;
	color: #FFFFFF;
	line-height: 50px;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	font-size: 14px;
}
#header NAV LI A
{
	color: #FFFFFF;
	border: 1px solid #5D910B;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93bd20), color-stop(100%, #659e10));
	background: -webkit-linear-gradient(#93bd20, #659e10);
	background: -moz-linear-gradient(#93bd20, #659e10);
	background: -o-linear-gradient(#93bd20, #659e10);
	background: -ms-linear-gradient(#93bd20, #659e10);
	background: linear-gradient(#93bd20, #659e10);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	-o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	background-color: #93BD20;
	padding: 10px 12px;
	margin-top: 6px;
	line-height: 14px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
}
#header NAV LI A:hover
{
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #749619), color-stop(100%, #527f0e));
	background: -webkit-linear-gradient(#749619, #527f0e);
	background: -moz-linear-gradient(#749619, #527f0e);
	background: -o-linear-gradient(#749619, #527f0e);
	background: -ms-linear-gradient(#749619, #527f0e);
	background: linear-gradient(#749619, #527f0e);
	background-color: #659E10;
	border: 1px solid #527F0E;
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
	-o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px rgba(0, 0, 0, 0);
}
#header NAV LI.fork
{
	float: left;
	margin-left: 0px;
}
#header NAV LI.downloads
{
	float: right;
	margin-left: 6px;
}
#header NAV LI.title
{
	float: right;
	margin-right: 10px;
	font-size: 11px;
}
SECTION
{
	max-width: 650px;
	padding: 30px 0px 50px;
	margin: 20px 0;
	margin-top: 70px;
}
SECTION #title
{
	border: 0;
	outline: none;
	margin: 0 0 50px;
	padding: 0 0 5px;
}
SECTION #title H1
{
	font-family: OpenSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	line-height: 36px;
}
SECTION #title P
{
	color: #D7CFBE;
	font-family: OpenSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}
SECTION #title .credits
{
	font-size: 11px;
	font-family: OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #696969;
	margin-top: -10px;
}
SECTION #title .credits.left
{
	float: left;
}
SECTION #title .credits.right
{
	float: right;
}
.gist
{
	margin: 15px 0 !important;
}
.gist-file
{
	border: none !important;
}
.gist-meta
{
	border: 1px solid #D2D2D2 !important;
	padding: 12px !important;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.gist-data
{
	padding: 15px !important;
	border: 1px solid #D2D2D2 !important;
	border-bottom: none !important;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}
.important-image
{
	text-align: center;
}
.assembly-name
{
	font-size: large;
}
.assembly-description
{
	font-size: small;
}
@media print, screen and (max-width: 720px)
{
	#title .credits
	{
		display: block;
		width: 100%;
		line-height: 30px;
		text-align: center;
	}
	#title .credits .left
	{
		float: none;
		display: block;
	}
	#title .credits .right
	{
		float: none;
		display: block;
	}
}
@media print, screen and (max-width: 480px)
{
	#header
	{
		margin-top: -20px;
	}
	SECTION
	{
		margin-top: 40px;
	}
	NAV
	{
		display: none;
	}
}
.tablist LI.current A
{
	background-image: none;
	text-shadow: none;
}
.tablist .current
{
	background-color: #434343;
}
.tablist A:hover
{
	background-image: none;
	text-shadow: none;
}
.tablist A
{
	background-image: none;
	color: #FFCC00;
	text-shadow: none;
	font-weight: normal;
}
.tablist LI
{
	background-image: none;
	border-right: 3px solid #434343;
}
.tablist LI:hover
{
	background-color: #434343;
}
.tabs, .tabs2, .tabs3
{
	background-image: none;
	border: 4px solid #434343;
}
#top
{
	margin-bottom: 20px;
}
#nav-path LI:nth-child(2) A
{
	background-color: #424242;
}
#nav-path LI:nth-child(3) A
{
	background-color: #393939;
}
#nav-path LI:nth-child(4) A
{
	background-color: #343434;
}
