<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac.CommonServiceLocator.Indy" version="2.6.3.862" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="FluentAssertions" version="1.7.1.1" />
  <package id="Moq" version="4.0.10827" />
  <package id="Moq.Contrib.Indy" version="1.0.4563.32860" targetFramework="net40" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="SpecFlow" version="1.9.0-beta1" />
  <package id="SpecFlow.NUnit" version="1.1.0" />
</packages>