.small-bottom-span
{
    display:block;
    color: ;
}

.header-div
{
    display:table-cell;
}

h3
{
    margin-top:0px;
    margin-bottom:5px;
    color:#2f2f2f;
}

.sourceframe
{
    width:100%;
    height:100%;
}

.report_header
{
    height:40px;
}

ul
{
    background: #F2F4F8;
}

li
{   
    background: #F2F4F8;
}
         
.header-table
{
    width:100%;
    background-image:url('../images/header_background.png');
}

a
{
    color:#0066cc;
}

iframe
{
    background:white;
}

img
{   
    vertical-align:middle;
    margin-right:2px;
}

ul.dynatree-container img
{
    vertical-align:middle;
}

ul.dynatree-container 
{
   position:relative;
   background: #f2f4f8;
   padding:0px;
   margin:0px;
   border:none;
   height:100%;
}

ul.dynatree-container a
{
   border:none;
}

span.dynatree-active a
{
   border: none;
   background-color: #f2f4f8;
}