<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac.CommonServiceLocator.Indy" version="2.6.3.863" targetFramework="net40" />
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="FluentAssertions" version="2.0.0.1" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="Moq.Contrib.Indy" version="1.0.4563.32860" targetFramework="net40" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="Rx_Experimental-Main" version="1.1.11111" targetFramework="net40" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net40" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net40" />
</packages>