<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	  <sectionGroup name="patterns">
		  <section name="logging" type="Patterns.Logging.LoggingConfig, Patterns"/>
	  </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
	<patterns>
		<logging trapExceptions="true" />
	</patterns>
</configuration>